server {
  listen $PORT default_server;

  location /api {
    proxy_pass $API_BASE_PATH;
  }

  location /health {
    proxy_pass $API_BASE_PATH;
  }


  location / {
    root   /usr/share/nginx/html;
    index  index.html;
  }

  gzip on;
  gzip_types *;
  gzip_min_length 1000;

  gzip_static on;
  merge_slashes off;
}
